<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <rosparam file="$(find grasp_objects)/config/grasp_objects.yaml" command="load" ns="grasp_objects"/>
    <rosparam file="$(find demo_sharon)/config/demo.yaml" command="load" ns="demo_sharon"/>

    <node name="grasp_objects_node" pkg="grasp_objects" type="grasp_objects_node" output="screen"/>
    <node name="demo_sharon_node" pkg="demo_sharon" type="demo_sharon_node" output="screen"/>
    <!--include file="$(find darknet_ros)/launch/darknet_ros.launch"/-->
</launch>