<?xml version="1.0"?>
<model>
  <name>apricot_jam</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
     <name>Elisabeth Menendez</name>
     <email>emenende@ing.uc3m.es</email>
  </author>
  <description>
     A simple model of a apricot jam jar.
  </description>
</model>
